aiogram==3.17.0
aiohttp==3.11.10
whisper-openai==20231117
pydub==0.25.1
lyricsgenius==3.0.1
tinytag==2.1.0
deep-translator==1.11.4
moviepy==1.0.3
yt-dlp==2025.3.31
beautifulsoup4==4.12.3
python-dotenv==1.0.1